* {
    margin: 0;
    padding: 0;
}


.toppic {
    background-image: url("header.jpg");
    height: 500px;
    width: 100%;
 
    .header {
        
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        
        p {
            padding-top: 250px;
            max-width: 780px;
            height: auto;
            font-family: "Roboto Slab", serif;
            font-size: 36px;
            color: white;
            text-align: center;
        }
    }
    .avatar {
        position: relative; 
        margin-left: 50%;
        margin-top: 104px;
        border-radius: 100px;
        background-image: url("vrk.png");
        width: 100px;
        height: 100px;
    
        + .inf {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: -380px; 
            width: 200px;
            margin-left: 50px;
            text-align: center;
            font-family: "Source Sans 3", sans-serif;
            color: rgb(51, 51, 51);
            border-bottom: 2px solid #e6e6e6; 
            padding-bottom: 10px; 
            .name {
                font-weight: bold;
            }
            .updated {
                font-weight: italic;
            }
        }
    }
    
}
.mainnd {
    padding-top: 170px;
    ul {
        list-style-type: decimal;
        color: rgba(0,0,0,0.25);
        margin-left: 100px;
        list-style-type: font-size 18px;;
    }
    
 
    
    .box1 {
        width: 66.67%;
        margin-left: 16.665%;
        .subheader {
            font-family: "Roboto Slab", serif;
            font-weight: bold;
            font-size: 36px;
            color: rgb(51, 51, 51);
            text-align: center;
        }
        .a{
            font-size: 20px;
        }
        .para {
            margin-top: 20px;
            font-family: "Source Sans 3", sans-serif;
            font-size: 18px;
            color: rgb(51, 51, 51);
        }  
        .recommendation{
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            color: black;
            .bold-text {
                font-weight: bold;
            }
        }
        img{
            width: 100%;
            margin-bottom: 120px;
        }
    }
    
           
}

.box1 a {
    display: block;
    clear: both;
}

